<form (ngSubmit)="handleSubmit()">
    <input type="text"
           placeholder="Nome"
           name="nome"
           [(ngModel)]="contato.nome"
    >
    <input type="email"
    placeholder="Email"
    name="email"
    [(ngModel)]="contato.email"
    >
    <input type="submit" value="Cadastrar">
</form>


<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>nome</th>
            <th>email</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let p of posts">
            <td>{{p.id}}</td>
            <td>{{p.nome}}</td>
            <td>{{p.email}}</td>
            <td><button (click)="handleDelete(p.id)">Excluir</button></td>
        </tr>
    </tbody>
    
</table>