<h1>TAYLOR LOPES SIGNORELLI</h1>

<p>Celular: (47) 99115-8377<br>
    E-mail: taylorlopessignoreli@gmail.com  <br>
    Endereço: Oscar Dicmann - 715<br>
    Blumenu-SC, Brasils<br>
</p>

<h3>SOBRE MIM</h3>

<p>Tenho 20 anos, formado no E.E.B Joao widemann. Atualmente estou cursando Front-end na Apex em Blumenau
     e tenho conhecimento em HTML, NodeJs, CSS e Java Script. Levo como objetivo ingressar em uma empresa de tecnologia e evoluir muito na área.
    Gosto de fazer amizade pois acho que melhora nosso desemenho quanto em compania de bom amigos,
     sou aberto a sujestoes e a novos aprendizados para poder desempenhar meu melhor onde quer que vá.</p>

<h3>Experiência Profissional </h3>


<h5>Menor Aprendiz - COTTON STAR<br>
    (25/01/2019 - 13/12/2019)</h5>

<p> Estudei na instiituiçao de ensino Senai durante meu periodo de menor aprendiz</p>
   
    
<h5>    Conferente - COTTON STAR<br>
    (03/12/2020 - Atualmente)</h5>
   <p> Ajudo a cuidar do estoque e afins.</p>


  <h3> Formação Acadêmica</h3>

<p>Desenho Arquiitetonico (Menor aprendiz)
Programaçao Front-end<br>
Apex ensino (2022 - 2022)<br>
Senai (2019 -2019)<br>
Aluno destaque<br>
Disign Audio-visual<br>
Visual Midia (2016-2016)<br>
Informatica Basica<br>
Visual Midia (2015-2016)
</p>



